{% extends 'base/base_account.html' %}

{% load static %}

{% block content %}
<div class='flex justify-center mb-5'>
  <div class="flex justify-center my-4 mx-10 space-x-4" style="width: 70vh">
    <div id="login-form" class="bg-white p-10 rounded-lg shadow-md w-96 border border-gray-300">
        {% comment %} <h2 class="text-2xl font-bold mb-5 text-center"></h2>  {% endcomment %}
        <form action="" method="post">
          {% csrf_token %}
          <div class="space-y-4">
            <input type="text" name="userid" placeholder="아이디를 입력해주세요" class="placeholder:text-sm w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring focus:border-blue-300">
            <input type="password" name="password" placeholder="패스워드를 입력해주세요" class="placeholder:text-sm w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring focus:border-blue-300">
          </div>
    
          <button type="submit" class="w-full bg-custom-whiteblue text-white px-3 py-2 rounded hover:bg-blue-600 focus:outline-none focus:bg-blue-700 mt-5" onclick="handleLogin()">LOGIN</button>
        </form>
        <p class="text-center mt-5">
          Don't have an account?
          {% comment %} <a href="{% url 'user_signup' %}" class="text-blue-600 hover:underline" data-switch="signup">Sign In</a> {% endcomment %}
          <a href="#" class="text-blue-600 hover:underline" data-switch="signup">Sign In</a>
        </p>
    </div>
  </div>
</div>
{% endblock %}
